
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

#Username {
  position: relative;
  text-align: end;
  align-items: flex-end;
  justify-items: left;
  margin-right: 0 !important;
}
